* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ffc0cb;
  border: 3px solid black;
  display: flex;
  padding: 80px;
  justify-content: center;
}
